{
  "name": "{{.Name}} Dev Container",
  "image": "mcr.microsoft.com/devcontainers/go:{{.GoVersion}}",
  "features": {
    "ghcr.io/devcontainers/features/docker-in-docker:2": {}
  },
  "postCreateCommand": "go mod tidy",
  "customizations": {
    "vscode": {
      "extensions": [
        "golang.go",
        "ms-azuretools.vscode-docker"
      ],
      "settings": {
        "go.toolsManagement.autoUpdate": true,
        "editor.formatOnSave": true,
        "[go]": {
          "editor.defaultFormatter": "golang.go"
        }
      }
    }
  },
  "remoteEnv": {
    "APP_ENV": "dev"
  }
}
