{
  "recommendations": [
    "golang.go",
    "ms-azuretools.vscode-docker",
    "redhat.vscode-yaml",
    "foxundermoon.shell-format",
    "timonwong.shellcheck",
    "davidanson.vscode-markdownlint"
  ]
}
